<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.video_call">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <application>
        <activity android:name=".ui.CallActivity" />
        <activity android:name=".ui.VideoChatViewActivity" />
        <service android:name=".Service.WebRtcCallService" />
        <service android:name=".Service.RtcService" />

        <receiver android:name=".Service.VoIPActionsReceiver" />
    </application>
</manifest>